.DSMenuBox div{
	width:1px;
	display:inline;
	background-color:#fffffa;
	border:1px solid #ff8833;
	padding:3 5 3 5;
	position:absolute;
	left:-10000;top:-10000;
	FILTER:progid:DXImageTransform.Microsoft.Shadow(Color=#999999,offX=10,offY=10,direction=120,Strength=5);
}
.DSMenuBox a{
	width:1;
	height:24px;
	border:1px solid #fffffa;
	padding:4 10 0 10;
	color:#000000;
	font:12px verdana;
	text-decoration:none;
	display:inline;
}
.DSMenuBox a:hover{
	width:1px;
	height:24px;
	color:#000000;
	background-color:#ffccaa;
	border-width:1px;
	border-style:solid;
	border-color:#ff8833;
	text-decoration:none;
}
.DSMenuBox img{
	border:0;
	margin:-8 0 0 30;
}
