<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>AOC</title>

<link href="../public/css.css" rel="stylesheet" type="text/css" />
</head>

<body>
<table width="1004" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
  <tr>
    <td width="9" height="67" bgcolor="#D0D0D0"></td>
    <td><img src="../images/logo.gif" width="87" height="44" hspace="18" /></td>
    <td width="410" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="75%" height="53" align="right" class="t_1">搜索&nbsp;</td>
        <td width="25%" align="left"><label>
          <select name="select" class="input1">
            <option>全球站点</option>
          </select>
        </label></td>
      </tr>
      <tr>
        <td colspan="2"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="27%"><img src="../images/products.jpg" width="109" height="16" /></td>
            <td width="7%" align="center"><img src="../images/line.gif" width="1" height="16" /></td>
            <td width="25%"><img src="../images/servrce.jpg" width="102" height="16" /></td>
            <td width="7%" align="center"><img src="../images/line.gif" width="1" height="16" /></td>
            <td width="25%"><img src="../images/about.jpg" width="104" height="16" /></td>
            <td width="9%" align="center"><img src="../images/line.gif" width="1" height="16" /></td>
          </tr>
        </table></td>
        </tr>
    </table></td>
  </tr>
</table>
<table width="1004" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td valign="top" bgcolor="#FFFFFF"><table width="100%" border="0" cellspacing="0" cellpadding="0">
   
      <tr>
        <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
		  <tr>
            <td height="35" bgcolor="#D0D0D0"></td>
			 <td height="35"></td>
            </tr>
            <tr>
            <td colspan="2"><img src="../images/line3.jpg" width="267" height="1" /></td>
            </tr>
		  <tr>
            <td width="3%" height="29" bgcolor="#D0D0D0">&nbsp;</td>
            <td width="97%" align="left"><img src="../images/down.jpg" width="176" height="13" hspace="8" /></td>
          </tr>
          <tr>
            <td colspan="2"><img src="../images/line3.jpg" width="267" height="1" /></td>
            </tr>
			  <tr>
            <td width="3%" height="29" bgcolor="#D0D0D0">&nbsp;</td>
            <td width="97%" align="left"><img src="../images/chuxiap.jpg" width="139" height="12" hspace="8" /></td>
          </tr>
		   <tr>
            <td colspan="2"><img src="../images/line3.jpg" width="267" height="1" /></td>
            </tr>
				  <tr>
            <td width="3%" height="29" bgcolor="#D0D0D0">&nbsp;</td>
            <td width="97%" align="left"><img src="../images/shaoshou.jpg" width="162" height="12" hspace="8" /></td>
          </tr>
		   <tr>
            <td colspan="2"><img src="../images/line3.jpg" width="267" height="1" /></td>
            </tr>
			 <tr>
            <td height="13" bgcolor="#D0D0D0"></td>
			 <td height="13"></td>
            </tr>
        </table>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td><img src="../images/dengru.jpg" width="313" height="145" /></td>
            </tr>
          </table></td>
        <td valign="top"><img src="../images/left1.jpg" width="7" height="283" /></td>
      </tr>
      <tr>
        <td colspan="2"><img src="../images/news.jpg" width="320" height="38" /></td>
        </tr>
      <tr>
        <td valign="top" class="left_bg"><table width="313" border="0" cellspacing="0" cellpadding="0" style="margin-top:15px; margin-bottom:34px;">
          <tr>
            <td width="38" height="26" align="right"><img src="../images/arrow.jpg" width="9" height="6" hspace="6" /></td>
            <td width="285">月销量2万台！AOC“罗密欧”“朱丽叶”10月热销 </td>
          </tr>
		   <tr>
            <td width="38" height="26" align="right"><img src="../images/arrow.jpg" width="9" height="6" hspace="6" /></td>
            <td width="285">月销量2万台！AOC“罗密欧”“朱丽叶”10月热销 </td>
          </tr>
		   <tr>
            <td width="38" height="26" align="right"><img src="../images/arrow.jpg" width="9" height="6" hspace="6" /></td>
            <td width="285">月销量2万台！AOC“罗密欧”“朱丽叶”10月热销 </td>
          </tr>
		   <tr>
            <td width="38" height="26" align="right"><img src="../images/arrow.jpg" width="9" height="6" hspace="6" /></td>
            <td width="285">月销量2万台！AOC“罗密欧”“朱丽叶”10月热销 </td>
          </tr>
		   <tr>
            <td width="38" height="26" align="right"><img src="../images/arrow.jpg" width="9" height="6" hspace="6" /></td>
            <td width="285">月销量2万台！AOC“罗密欧”“朱丽叶”10月热销 </td>
          </tr>
        </table><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="3%">&nbsp;</td>
    <td width="97%" align="center"><img src="../images/qyhd.jpg" width="283" height="105" /></td>
  </tr>
</table>
</td>
        <td><img src="../images/left2.jpg" width="7" height="294" /></td>
      </tr>
      
    </table></td>
    <td width="684" bgcolor="#FFFFFF"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><img src="../images/flash.jpg" width="684" height="357" /></td>
      </tr>
    </table>
	<table width="684" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="2"><img src="../images/right1.gif" width="2" height="257" /></td>
              <td width="165" valign="top"><img src="../images/p1.jpg" width="165" height="257" /></td>
              <td width="1"><img src="../images/line2.gif" width="1" height="257" /></td>
              <td width="166" valign="top"><img src="../images/p2.jpg" width="166" height="257" /></td>
              <td width="1"><img src="../images/line2.gif" width="1" height="257" /></td>
              <td width="174" valign="top"><img src="../images/p3.jpg" width="174" height="257" /></td>
              <td width="10"><img src="../images/line2.gif" width="1" height="257" /></td>
              <td width="102" valign="top"><img src="../images/p4.jpg" width="164" height="257" /></td>
              <td width="63" valign="top"><img src="../images/right2.gif" width="10" height="257" /></td>
            </tr>
      </table>
	</td>
  </tr>
</table>

<table width="1004" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="9" bgcolor="#898989"></td>
    <td width="1" rowspan="3" bgcolor="#FFFFFF"></td>
    <td width="311" height="1" bgcolor="#999999"></td>
    <td height="1" bgcolor="#C1C1C1"></td>
    <td width="10" height="1" bgcolor="#898989"></td>
  </tr>
  <tr>
    <td bgcolor="#D0D0D0"></td>
    <td height="1" colspan="3" bgcolor="#FFFFFF"></td>
  </tr>
  <tr>
    <td bgcolor="#D0D0D0"></td>
    <td height="53" bgcolor="#E5E5E5">&nbsp;</td>
    <td bgcolor="#E5E5E5"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="88%" align="left" class="t_1">法律公告 │ 隐私保护 │ 加入我们 │ 联系我们 | 合作媒体&nbsp;&copy; 2007 AOC Monitors. All Rights Reserved</td>
        <td width="12%"><img src="../images/bottom.gif" width="94" height="23" /></td>
      </tr>
    </table></td>
    <td bgcolor="#E5E5E5">&nbsp;</td>
  </tr>
</table>
<table width="1004" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
    <td height="1" bgcolor="#FFFFFF"></td>
  </tr>
  <tr>
    <td height="6" bgcolor="#B7D1E2"></td>
  </tr>
  <tr>
    <td height="1" bgcolor="#C3D9E6"></td>
  </tr>
  <tr>
    <td height="63" bgcolor="#FFFFFF"><table width="96%" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td align="center"><img src="../images/link1.jpg" width="100" height="31" /></td>
        <td align="center"><img src="../images/link2.jpg" width="101" height="40" /></td>
        <td align="center"><img src="../images/link3.jpg" width="88" height="31" /></td>
        <td align="center"><img src="../images/link4.jpg" width="99" height="39" /></td>
        <td align="center"><img src="../images/link5.jpg" width="76" height="40" /></td>
        <td align="center"><img src="../images/link6.jpg" width="88" height="31" /></td>
        <td align="center"><img src="../images/link7.jpg" width="98" height="37" /></td>
      </tr>
    </table></td>
  </tr>
</table>
</body>
</html>
