 BODY   {border: 0; margin: 0; cursor: default; background: buttonface;font-family:ו; font-size:9pt;}
 BUTTON {width:5em}
 TABLE  {font-family:ו; font-size:9pt}
 P      {text-align:center;font-size:9pt}